:root{
    /* fonts */
--main-font:"Roboto",sans-serif;
--secondary-font:"Raleway",sans-serif;
    /* text colors */
--main-text-cl:rgba(33, 33, 33, 1);
--title-cl:rgba(255, 255, 255, 1);
--link-cl: rgba(117, 117, 117, 1);
--link-tel:rgba(255, 255, 255, 0.6);
/* background-color: ; */
--main-bg-cl:rgb(245, 245, 245) ;
--hero-cl: rgba(47, 48, 58, 1);
--team-cl:rgba(245, 244, 250, 1);
--footer-cl:rgba( 47, 48, 58, 1);
--act-hero-btn:rgba(24, 140, 232, 1);
/* logo color */
--accent-cl:rgba( 33, 150, 243, 1);
--logo-cl:rgba(0, 0, 0, 1);
--gap:30px;
/* others */
--card-border:rgba(238, 238, 238, 1);
--icon-team:rgba(175, 177, 184, 1);
}

body {
    font-size: 14px;
    font-family:var(--main-font);
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
    background-color: var(--title-cl);
}

.link {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}
    
/* header*/
.header{
    background-color: var(--title-cl);
    border: 1px solid #ECECEC;
}
 .header .link:hover,
.header .link:focus {
   
   color: var(--accent-cl);
   fill:var(--accent-cl);
   cursor: pointer;
}
.logo{
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--accent-cl);
    font-weight: 700;
    letter-spacing: 0.03em;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-header{
padding-top: 24px;
padding-bottom: 24px;
color:var(--logo-cl);
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* main nav */
.header .main-nav{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
}
/* .nav-list li{
    margin-right: 50px;
} */
.nav-list .nav-item:not(:last-child){
    margin-right: 50px;
}
.nav-list{
   
    display: flex;
    margin-left: 93px;
}

.nav-item{
    
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--main-text-cl);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav-list .current {
    content: '';
    position: relative;
    color: var(--accent-cl);
}
.nav-link{
    color: var(--main-text-cl);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current.link::after{
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-cl);
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon{
    margin-right: 10px; 
    align-items: center;
}

   .header-link.com{
    background-size: contain;
    background-position: center;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.header-link.tel{
    background-size: contain;
    background-position: center;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts {
   display: flex;
    margin-left:auto;
    color: var(--link-cl);
}
.header-contacts .contacts-item:not(:last-child){
    margin-right: 50px;
}
.header-link{
    color: var(--link-cl);
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 500;
    letter-spacing: 0.02em;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item{
    justify-content: center;
    align-items: center;
}
.main{
}

.main-foto{
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-color: var(--hero-cl);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main.jpg);
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
    margin-bottom: 30px;
     width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    line-height: calc(60 / 44);
    color: var(--title-cl);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    display:inline-block;
    padding: 10px 32px;
    min-width: 216px;
    background-color: var(--accent-cl);
    font-family: var(--main-font);
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--title-cl);
    font-weight: 700;
    letter-spacing: 0.06em;
    border-style: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    border: 1px solid transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-button:active,
.hero-button:hover,
.hero-button:focus {
    background-color:var(--act-hero-btn) ;
}
  /* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 1400ms linear,visibility 1400ms linear;
  
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; 
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 1500ms ease-in-out, opacity 1500ms;
  padding: 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
   fill:var(--act-hero-btn) ;
}
/* features */
.features-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: var(--team-cl);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  .features-icon {
    fill: var(--team-cl);
  }
  
.visually-hidden{
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
.features{
    padding-top: 94px;
    padding-bottom: 94px;
} 

.features-list{
    display: flex;
   
}
/* flex-basis: calc((100%-3*var(--gap))/4); */
.features-item{
    margin-right: 30px;
    width: 270px;

}
 .features-item:nth-child(4n){
margin-right: 0;
}

.features-subtitle{
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--main-text-cl);
    font-weight: 700;
    text-transform:uppercase;
    margin-bottom: 10px;
}
    
.text{

    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--link-cl);
    
}
/* about */
.about{
    
}
.about-title{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    color: var(--main-text-cl);
    font-weight: 700;
    text-align: center;
}
.about-list{
    display: flex;
    padding-top: 0;
    padding-bottom: 94px;
}  
.about-item {
    margin-right: 30px;
    position: relative;
} 
.about-item:nth-child(3n){
    margin-right: 0;
}
.img .about{
    
}

.about-schild{
    position:absolute;
    display: flex;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    align-items: center;
    justify-content: center;
    bottom: 0;
    
}
.schild{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-cl);
}
/* our time */
.team{
    background-color: var(--team-cl);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-title{
    font-size: 36px;
    line-height: calc(42/36);
    color: var(--main-text-cl);
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.team-social{
    display: flex;
    text-align: center;
}
.team-social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.team-social-item:last-child {
    margin-right: 0px;
}
.team-social-item-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--title-cl);
  fill:var(--icon-team) ;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.team-social-item-link:hover,
.team-social-item-link:focus {
  background-color: var(--accent-cl);
  cursor: pointer;
  fill: var(--title-cl);
}
.team-list{
    display: flex;
    text-align: center;
}
.team-item{
    width: 270px;
    background-color:var(--title-cl) ;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
   
}
.team-item:nth-child(4n) {
    margin-right: 0;
}

.cont-card{
    padding: 30px;
}
.team-name{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--main-text-cl);
    font-weight: 500;
    text-align: center;
}
.team-aside{ 
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--link-cl);
    text-align: center;
    margin-bottom: 16px;
    }

           /* CLIENTS */
.section-client{
    padding-top: 94px;
    padding-bottom: 94px;
}
.studio-clients{
    font-size: 36px;
    line-height: calc(42/36);
    color: var(--main-text-cl);
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}
.client-logo {
        display: flex;
        justify-content: center;
        
      }
      
.client-item {
        width: 170px;
        height: 92px;
        margin-right: 30px;
      }
      
.client-item:last-child {
        margin-right: 0px;
      }
      
.client-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid var(--icon-team);
        border-radius: 4px;
        background-color: var(--title-cl);
        transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
 .client-icon {
        fill:var(--icon-team);
        transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
.client-link:hover,
.client-link:focus {
        border: 1px solid var(--accent-cl);
      }
      
.client-link:hover .client-icon,
.client-link:focus .client-icon {
        fill: var(--accent-cl);
      }
            /* footer */

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:var(--footer-cl) ;

}

.container-footer{
    display: flex;
    align-items: baseline;
}
.logo-container-footer{
    margin-bottom: 24px;
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--accent-cl);
    font-weight: 700;
    letter-spacing: 0.03em;
}
.logo-footer{
    color: var(--title-cl);
   
}
  .footer .link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }  
    
.footer .link:hover,
.footer .link:focus {
        color: var(--accent-cl);
    }
.adress{
    margin-top: 20px;}
.address-list{ 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-decoration: none;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    
.address-item{
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--title-cl);
     margin-bottom: 9px;
}
.address-item-com{
   
    color: var(--link-tel);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
     margin-bottom: 9px;
}
.address-item-tel{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--link-tel);
    
}

.goin{
    margin-left: 70px;
    align-items: baseline;
}
.footer-goin{
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-cl);
  margin-bottom: 20px;
}
.goin-list{
  display: flex;
  justify-content: normal;
}
.going-link{
    margin-right: 10px;;
}
.socials-link-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill:var(--title-cl);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-footer:hover,
.socials-link-footer:focus{
    fill: var(--title-cl);
    background-color: var(--accent-cl);
}

              /* portfolio*/
 .portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
 }  
 .portfolio-button{
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 50px;
    gap:8px;
} 

 .portfolio-btn{
    font-family:var(--main-font) ;
    background-color: var(--team-cl);
    font-size: 16px;
    line-height: calc(26 / 16);
    color: var(--main-text-cl);
    font-weight: 500;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    border: none;
    display: inline-block;
    padding: 6px 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-btn:hover,
 .portfolio-btn:focus,
 .portfolio-btn:active{
    background-color: var(--accent-cl);
    color:var(--title-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 

}

 .portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    align-items:baseline ;
 }
  
 .portfolio-item{
    width: 370px; 
    margin-right:30px;
    margin-bottom:30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-item:hover,
 .portfolio-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }
 .text-card{
    padding:20px 24px;
    border: 1px solid var(--card-border);
    border-top: 0;

 }
 /* .portfolio-item:nth-child( 3n ){
    margin-right: 0px;
 }
 .portfolio-item:nth-last-child( -n+3){
    margin-bottom: 0;
 } */
 .portfolio-heading{
    margin-top: 0px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--main-text-cl);
 }
 .portfolio-desc{
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--link-cl);
 }

.portfolio-card-item-link {
  display: inline-block;
  text-decoration: none;
  transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-item-link:hover,
.portfolio-card-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Portfolio card */

.anime-card {
  position: relative;
  overflow: hidden;
}
.anime-card:hover,
.anime-card:focus{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-card-anime {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28/18);
  letter-spacing: 0.03em;
  color: var(--title-cl);
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition:  250ms cubic-bezier(0.4, 0, 0.2,1) ;
  
}

.portfolio-card-item-link:hover .text-card-anime ,
.portfolio-card-item-link:focus .text-card-anime {
  transform: translateY(0);
}


/**
  |============================
  | Register form
  |============================
*/
.register-form-title{
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-text-cl);
}
.register-form-group{
    margin-bottom: 20px;
}
.register-form-field{
    position: relative;
    display: block;
    margin-bottom:10px; ;
    text-align: left;
}

.register-form-field:last-child { 
    margin-bottom: 0;
}
.register-form-label{
    display: block;
    line-height: calc(14/12);
    font-size: 12px;
    margin-bottom: 4px;
    color: var(--link-cl);
}
.register-form-input{
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 400ms cubic-bezier(0.4, 0, 0.2,1);
}
.register-form-input:focus,
.register-form-input:hover {
   border-color: var(--act-hero-btn);
}
.register-form-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transition: fill 400ms cubic-bezier(0.4, 0, 0.2,1);
}
.register-form-input:focus~.register-form-icon,
.register-form-input:hover~.register-form-icon {
    fill: var(--accent-cl);
}
.register-form-heading {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}
.register-form-massage{
    display: block;
    width: 100%;
    height: 120px;
    padding: 18px;
    font-size: 14px;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.register-form-massage::placeholder {
  font-size: 12px;
}
.register-form-massage:hover,
.register-form-massage:focus{
     border-color: var(--act-hero-btn);}

.register-form-agreement{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin-bottom: 30px;
}
.register-form-btn{
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 52px;
    min-width: 200px;
    min-height: 50px;
    display: block;
  margin: 0 auto;
    background-color: var(--act-hero-btn);
    color: var(--title-cl);
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.register-form-btn:hover,
.register-form-btn:focus {
  background-color:var(--act-hero-btn);
}

.register-form-checkbox {
    display: block;
    width: 14px;
    height: 14px;
    left: 68px; ;
    border-radius: 1px solid var(--black-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}
.icon-unchecked {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 1px solid var(--main-bg-cl);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.register-form-desc {
  font-size: 14px;
  user-select: none;
  margin-right: 37px;
}

.register-form-link {
  color: var(--accent-cl);
}
/**
  |============================
  | Foter form
  |============================
*/
.footer-form{
    margin-left: auto;
}
.footer-form-p{
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-cl);
margin-bottom: 20px;
}
.footer-form-flex{
    display: flex;
    justify-content:normal;
}
.footer-form-email{
    outline: none;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background: rgba(47, 48, 58, 1);
    margin-right: 12px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.footer-form-email:hover,
.footer-form-email:focus{
    border-color:var(--accent-cl) ;
}
.footer-form-button{
display: inline-flex;
align-items: center;
justify-content: center;
width: 210px;
height: 50px;
background-color: var(--act-hero-btn);
color: var(--title-cl);
border:  var(--accent-cl);
border-radius: 4px;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.06em;
cursor: pointer;
padding: 10px 28px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
gap: 10px;
}
.footer-form-button:hover,
.footer-form-button:focus{
   background-color: var(--act-hero-btn);
}

